/* header */
body{
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 20px;
}

.header nav{
    padding-top: 40px;

    display: flex;
    justify-content: space-between
}


.header-linked{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header-items{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}

.header-items li{
    list-style:none;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px; /* 130% */
}
.header-sns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-sns img{
    width: 30px;
    height: 30px;
}

/* container */

/* container-profile */
.container-profile{
    padding-top: 220px;
    display: flex;
    justify-content: space-between;
}
.container-profile h1{
    color: #42446e;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px;
}

.container-profile h1 span{
    background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */
}

/* container-teach */
.container-myteach{
    padding-top: 300px;
    align-items: center;
}
.container-myteach h2{
    color: #42446e;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.container-myteach p{
    color: #666;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.container-myteach-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.container-myteach-icons li{
    align-items: center;
    list-style:none;
}

/* container-projects */
.container-project-title h2{
    color: #42446e;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.container-project-title p{
    color: #666;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.container-project {
    padding-bottom: 300px;
  }
  .container-project-items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  .container-project-item {
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .container-project-thumbnail {
    width: 100%;
    height: 256px;
    /* 위쪽 둥글게 둥글게 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* 배경 이미지 가운데 정렬, 가득차게 */
    background-image: url("https://source.unsplash.com/random/400×400");
    background-position: center;
    background-size: cover;
  }
  .container-project-content {
    padding: 30px;
    /* 세로 간격(gap)을 일정하게 주기 위해 flex 적용 */
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .container-project-content h4 {
    color: #42446e;
    font-size: 24px;
    font-weight: 700;
  }

  .container-project-link {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .container-project-link a {
    gap: 12px;
    align-items: center;
    display: flex;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
  }
  
  .container-project-desc {
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
  }
  
  .container-project-tech-stack {
    color: #42446e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }



  /* ---- footer ---- */
footer {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-bottom: 50px;
  }
  .footer-content {
    display: flex;
  
    justify-content: space-between;
  }
  .footer-upper {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-logo {
    width: 97px;
    height: 59px;
  }
  
  .footer-contact {
    display: flex;
    gap: 40px;
    align-items: center;
    /* 텍스트 스타일 */
    color: #42446e;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 54px;
  }
  .footer-contact a {
    /* 기본속성으로 적용되어 있는 언더라인 제거 */
    color: #42446e;
    text-decoration: none;
  }
  footer .footer-links {
    display: flex;
    gap: 20px;
  }
  
  .hr {
    width: 100%;
    border-bottom: solid 1px #666;
  }
  
  .madeby {
    padding-top: 54px;
    padding-bottom: 30px;
    color: #666;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }
  .madeby span {
    background: linear-gradient(0deg, #13b0f5 -2.06%, #e70faa 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */
  }
  
